.header {
  width: 100%;
  min-height: 200px;
  color: #2d3047;
  background-color: var(--main-color);
  padding: 0;
  font-family: 'Lobster', cursive;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-size: 60px;
  margin: 30px 30px 0;
}

.header-logo {
  max-width: 80px;
  margin: 25px 30px 10px;
}
