.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  color: var(--light-color);
  background-color: var(--strong-color);
  font-size: 1.4rem;
}

a {
  color: white;
}
