.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  background-color: var(--main-color);
  font-size: 1.4rem;
}

a {
  color: var(--strong-color);
  display: flex;
  align-items: center;
}

a:hover {
  text-decoration: none;
  color: #161823;
}
